# Python 기초 공부

### 점프 투 파이썬 연습문제 2장 풀기

In [3]:
# 01 - 홍길동의 평균 점수를 구해보기
korean = 80 
english = 75
math = 55

score = (korean+english+math)/3
print(score)

70.0

In [7]:
# 02 - 자연수 13이 홀수 인지 짝수인지 판별할 수 있는 방법 찾기
a = 13

if a % 2 == 1:
    print("odd")
else:
    print("even")

odd

In [9]:
# 03 
pin = "881120-1068234"
yyyymmdd = "19"+pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [10]:
# 04 - 성별을 나타내는 숫자 출력
print(pin[7])

1

In [12]:
# 05 - replace 활용하여 문자 변경

a = "a:b:c:d"
b= a.replace(":","#")
print(b)

a#b#c#d

In [16]:
# 06 - [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 바꾸기
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [3]:
# 07 - 리스트를 문자열로 바꾸기
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [9]:
# 08 - (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4) 만들기
# 튜플은 1개의 원소를 가질 때 ex) (1,) 이런식으로 표현해야 한다
a=(1,2,3)
a = a+(4,)
print(a)

(1, 2, 3, 4)

In [11]:
# 09 - 딕셔너리
# 딕셔너리 안의 key 값은 변하는 값이 들어가면 안된다. 그러므로 list는 들어가면 안된다

In [14]:
# 10 - 딕셔너리 a에서 'B'에 해당하는 값을 추출하기
a = {'A':90,'B':80,'C':70}
# result=a['B'] 둘다 가능하다
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [15]:
# 11 - 리스트의 중복 숫자 제거
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet=set(a) # 집합 자료형은 중복이 들어갈 수 없다
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [16]:
# 12 - 결과 확인해 보기
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]